* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(68, 117, 136, 0.548);
  height: 100vh;
}

.card {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  box-shadow: 0px 2px 10px rgb(83, 83, 83);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.card-header {
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1) blur(2px);
  transition: 0.3s;
}

.card:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.card-text {
  padding: 30px;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 14px;
}

.heart {
  background-color: red;
  color: white;
  font-weight: 600;
  bottom: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -50px;
  left: -50px;
  transition: 0.3s;
  font-size: 2em;
  border-radius: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .heart {
  left: 0;
  top: 0;
}